.grid {
  padding-top: 50px;
  display: grid;
  clear: both;
  margin-bottom: 50px;
}

.grid-title {
  grid-column-start: 1;
  grid-column-end: 11;
}

.grid-header {
  grid-column-start: 1;
  grid-column-end: 11;
}

.grid-left {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.grid-inner-left {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
}

.grid-inner-right {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 3;
}

.grid-footer {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 4;
}
