.header {
  background-color: orange;
}

.left {
  background-color: #000;
}

.inner-left {
  background-color: blue;
}

.inner-right {
  background-color: red;
}

.footer {
  background-color: green;
}
